Source: ros-melodic-fetchit-challenge
Section: misc
Priority: extra
Maintainer: RDaneelOlivaw <duckfrost@theconstructsim.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-controller-manager, ros-melodic-fetch-gazebo, ros-melodic-gazebo-ros, ros-melodic-robot-state-publisher, ros-melodic-rospy
Homepage: https://opensource.fetchrobotics.com/competition
Standards-Version: 3.9.2

Package: ros-melodic-fetchit-challenge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-controller-manager, ros-melodic-effort-controllers, ros-melodic-fetch-gazebo, ros-melodic-gazebo-ros, ros-melodic-robot-state-publisher, ros-melodic-rospy
Description: The fetchit_challenge package
